@import '../../Sections/helper.scss';
.menu-bar {
  width: 100%;
  height: 5rem;
  background-color: lighten(black, 7%);
  padding: 1rem 0;

  .container {
    @extend %container;
    @include flex(space-between, center);
  }

  button {
    height: 100%;
    color: white;
    font-family: font(heading);
    text-transform: uppercase;
    @include flex-center;
    gap: 1rem;
    font-size: 2rem;

    svg {
      fill: white;
      height: 1em;
    }
  }

  img {
    height: 100%;
  }
}
