@import '../../../helper.scss';

.players {
  margin-top: 20rem;
  width: 100%;
  height: 100%;
  @include flex-center;

  &__container {
    @extend %container;
  }

  &__subtitle {
    @extend %subtitle;
    text-align: center;
    margin-bottom: 10rem;
  }

  &__body {
    width: 100%;
    max-width: 80rem;
    aspect-ratio: 2 / 1.1;
    background-color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 35%;
    grid-template-rows: 100%;
    $space: 2rem;
    gap: $space;
    padding: $space;
    justify-items: center;

    @include box-shadow(1.5, 1.5, 4, 0.15);

    @include query(portrait) {
      aspect-ratio: 1 / 1.2;
      grid-template-columns: 1fr;
      grid-template-rows: 40% calc(60% - 3rem);
      height: 60rem;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include flex(start, center);
    border-radius: 1rem;

    img {
      height: 100%;
      animation: pan 60s linear infinite alternate;

      @include query(portrait) {
        height: auto;
        width: 100%;
      }
    }
  }

  .search {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    position: relative;
    // overflow-y: scroll;

    @include query(portrait) {
      width: 80%;
    }

    .loading {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: white;
      z-index: 2;
    }

    &__field {
      width: 100%;
      height: 6.5rem;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr;
      position: relative;
      gap: 1rem;
      padding-bottom: 1.5rem;

      &::before {
        content: '';
        width: 100%;
        height: 3px;
        border-radius: 100vw;
        background-color: color(main);
        position: absolute;
        bottom: 0;
        left: 0;
      }

      svg {
        width: 3rem;
        aspect-ratio: 1 / 1;
        align-self: end;
        fill: color(main);
      }
    }

    &__input {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      outline: none;
      font-family: inherit;
      font-size: 2.5rem;
      padding-top: 2.5rem;
      font-weight: weight(light);
    }

    &__prompt {
      width: 100%;
      height: 100%;
      @include flex-center;
      font-size: 2rem;
      text-align: center;
      color: color(main);
      font-family: font(heading);
      line-height: 1.5;
    }

    &__results {
      width: 100%;
      height: 100%;
      min-height: 0;
      min-width: 0;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }

    &__btn {
      font-size: 1.2rem;
      font-weight: weight(bold);
      text-transform: uppercase;
      font-family: font(heading);
      border-bottom: solid 1px rgba(black, 0.2);
      padding: 2rem;
      text-align: left;
      width: 100%;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.1);
        top: 0;
        left: 0;
        scale: 0 1;
        transition: scale 400ms ease;
        transform-origin: 0 0;
      }

      &:hover::before {
        scale: 1 1;
      }
    }
  }
}

@keyframes pan {
  0% {
    scale: 1;
    translate: 0 0;
  }

  100% {
    scale: 1.5;
    translate: 10% 20%;
  }
}
